{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-4">
        <h1 class="text-center font-weight-bold">{{ object.first_name }} {{ object.last_name }}</h1>
        <img class="img-thumbnail" src="/media/{{ object.image_name }}" alt="" width="100%">
    </div>
    <div class="col-md-3">
        <br><br><br><br>
        <h5 class="font-weight-bold">Email:</h5>
        <p>{{ object.email }}</p>
        <br>
        <h5 class="font-weight-bold">Contact Number:</h5>
        <p>{{ object.phone_number }}</p>
        <br>
        <h5 class="font-weight-bold">Room Number:</h5>
        <p>{{ object.room_number }}</p>
        <br>
        <h5 class="font-weight-bold">Subjects:</h5>
        <ul style="list-style-type:disc"></ul>
        {% for subject in object.subjects.all %}
		    <li>{{subject.subject_name}}</li>
	    {% endfor %}
        <br>
    </div>
</div>
{% endblock %}